
body {font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
;
}

header {font-family: 'Allura', cursive;
	text-align:center;
	color: #F00;
		font-size:72px;
		padding: 20px 20px;
}

h3{font-family: Tahoma, Geneva, sans-serif;
 	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	font-size: 32px;
}


footer {font-family: arial;
		font-size: 10px;
		line-height: 16px;
}


p{font-family:  Tahoma, Geneva, sans-serif;
	text-indent: 25px;
	font-style:normal;
	text-justify: auto;
	line-height: 1.5em;
	font-weight: semi-bold;
	}